.App {
	text-align: center;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.MuiTableCell-root {
	border-bottom: none !important;
}

.tableContainer {
	min-width: 10rem;
	max-width: 40rem;
	max-height: 30rem;
}

.teamPlaysTableContainer {
	min-width: 10rem;
	max-width: 30rem;
	max-height: 30rem;
}
